body{
    width: 100%;
    height: 100%;
    background-image:linear-gradient(0.95turn, rgb(35, 74, 151),rgb(44, 157, 255), rgba(154, 238, 255, 0.502)),
    url(bubbles.png);
}
p{
    filter: invert(100%) grayscale(100%) contrast(100);
  }